<?xml version="1.0"?>
<model>
  <name>waste_metal_crushed_can</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Waste Sorting Robot Project</name>
    <email>none</email>
  </author>
  <description>Procedural crushed metal can-like waste object.</description>
</model>
