<?xml version="1.0"?>
<model>
  <name>waste_plastic_deformed_bottle</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Waste Sorting Robot Project</name>
    <email>none</email>
  </author>
  <description>Procedural deformed plastic bottle-like waste object.</description>
</model>
