<launch>
  <node pkg="waste_sorting_gazebo"
        type="yolo_detector.py"
        name="yolo_detector"
        output="screen">
    <param name="image_topic" value="/top_camera/image_raw" />
    <param name="model_path" value="$(find waste_sorting_gazebo)/models_yolo/best.pt" />
    <param name="conf_threshold" value="0.25" />
    <param name="publish_annotated" value="true" />
  </node>
</launch>
